* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.7;
    color: #222;
    background-color: #fff;
    padding-block-start: 2rem;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.25rem;
    margin-block-end: .5rem;
}

p {
    margin-block-end: 2rem;
}

.full-bleed {
    font-size: 1.5rem;
    line-height: 1.125;
    text-align: center;
    color: #fff;
    background-image: linear-gradient(to right, #90c3fd, #ba71ff, #ff71b8);
    padding: 2rem;
    margin-block-end: 2rem;
}

.icon {
    display: block;
    font-size: 3rem;
}

/* Solution 1 */
/* body {
    overflow-x: hidden;
}

main {
    max-width: 80%;
    margin-inline: auto;
}

.full-bleed {
    position: relative;
    width: 100vw;
    left: 50%;
    margin-left: -50vw;
    margin-inline-start: -50vw;
    transform: translateX(-50vw);
} */


/* main {
    max-width: 80%;
    margin-inline: auto;
}

body {
    overflow-x: hidden;
}

.full-bleed {
    margin-inline: calc(50% - 50vw);
} */

/* Solution 3 */
main {
    display: grid;
    grid-template-columns: 1fr min(65ch, 100% - 3rem * 2) 1fr;
    grid-column-gap: 3rem;
}

main > * {
    grid-column: 2;
}

.full-bleed {
    /* grid-column: 1 / -1;
    grid-column: 1 / 4; */
    grid-column: span 3;
}
